<div class="container">
  <div class="container-field">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="number" type="number" name="number" ngModel  #numberInput="ngModel">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
  <div class="container-field container-counters">
    <div class="counter">
      <mat-card>
        <app-change-detection-default [integer]="integer"></app-change-detection-default>
      </mat-card>
    </div>
    <div class="counter">
      <mat-card>
        <app-change-detection-on-push [integer]="integer"></app-change-detection-on-push>
      </mat-card>
    </div>
    <div class="counter">
      <mat-card>
        <app-change-detection-on-push-modified [integer]="integer"></app-change-detection-on-push-modified>
      </mat-card>
    </div>
  </div>
</div>


